{% extends "cooked/base.html" %}

{% block content %}

{% comment %} <div class="container">
  <!-- The container class is an important w3.CSS class. !--> {% endcomment %}

<center><h1>Welcome To Kitch-In!</h1></center>
<br>
<br>
<div class='meal_list'>
    {% for meal in meals %}
      <div class ='meal_details'>
      <h2>{{ meal.name }}</h2>
      <img src="{{ meal.image_url }}" alt="Shrimp Fried Rice" height='350' width='400'>
      <br>
      <p>{{ meal.description }}</p>
      <p>Suggested Donation: {{ meal.price }}</p>
      <a href="{% url 'meal_detail' pk=meal.pk %}">Order Now</a>
      <br>
      <br>
      </div>
        {% endfor %}
</div>



{% endblock %}




{% comment %} {% extends "base.html" %} {% block content %}


<center><h1>In Rotation</h1></center>

<center><p><a href="{% url 'add_albums' %}">Add New Album</a></p></center>


<div class='albumlist'>

	{% for album in albums %}
	  <div class='albumdetails'>
		<h2>{{ album.album_title }}</h2>
		<img src='{{ album.image_url }}' height="350" width="350">
    <h3>{{ album.artist_name}}</h3>
    <h4>Released: {{ album.date_released}}</h4>
    <p>
      <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a>< {% endcomment %}