{% extends "cooked/base.html" %} {% block content %}



{% comment %} <a href="{% url 'list_albums' %}">Go Back</a><br> {% endcomment %}


<div class="w-33 pa3">
	<center><h2>{{ meal.name }}</h2></center>
   <center><img src='{{ meal.image_url }}' height="350" width="350"></center>


    <!-- {% if album.album_title %}
    <div class="flex">
      <!-- <div class="pr2"><i class="icofont-phone"></i></div> -->
      <!-- <div>{{ album.album_title }}</div>
    </div>
    {% endif %} --> 

    {% if meal.name %}
    <div class="flex">
      <!-- <div class="pr2"><i class="icofont-ui-email"></i></div> -->
      <center><div>{{ meal.name }}
       {{ meal.price }}
      <br>
      <br>
     
      </div></center>
    </div>
    {% endif %}

    {% if meal.description %}
    <div class="flex">
      <!-- <div class="pr2"><i class="icofont-ui-birthday"></i></div> -->
      <center><div>{{ meal.description }}</div></center>

    <br>
    <a href="{{ get_add_to_cart_url }}">Add To Cart</a>




    </div>
    {% endif %}

</div>
{% endblock %}