{% extends 'cooked/base.html' %}
{% block content %}
<h2>Welcome to KitchIns!</h2>

Welcome to Kitch-In, a Microenterprise Home Kitchen Operation in cooperation with the Texas Department of Environmental Health (DEH). Kitch-In is a Cottage Food Program creating sustainable income for our food service members. During the pandemic, Kitch-In’s founders decided to fill the gap between out-of-work chefs and food service workers, our neighbors working from home who desired fresh, wholesome meals; and children who were going without food due to school closures. 

Cottage Food Laws passed in 2019, allow individuals to sell certain foods made in home kitchens, without having to get a food manufacturers’ license, use a commercial kitchen, or be subject to inspections by the state or local health departments.

Kitch-In is a portal for cottage food operations enabling them to sell homemade delicious meals to friends and neighbors, provide employment opportunities for chefs and professional food preparers and – for every meal sold, we provide meals for children in need – in your own neighborhood!  

<h3>Let’s open your Kitch-In!</h3>
To become a part of the Kitch-In network is easy. 
1.	Get familiar with the rules on this page.
2.	Take the required food handler’s training quiz.
3.	Create food labels – identifying potential allergens in your meals.
4.	Get going! Your neighbors are counting on you to provide quality, delicious meals – and we’ll feed a child in need near you.


<h3>What are the requirements for a cottage food operation?</h3>
Under the newly expanded law, cottage food operations must meet all of the following requirements: 
	Sell only foods that are not “time and temperature controlled for safety” (non-TTCS) foods, previously referred to as “non-potentially hazardous,” or “NPH,” foods.
	Sell directly to consumers.
	Prepare the foods in your home kitchen (i.e. not in a separate building or facility), using appliances meant for residential use.
	Sell no more than $50,000 of such foods annually.
	Have a current food handler’s card.
	Package the food so as to prevent contamination, unless the item is too large or bulky to fit conventional packaging, such as a wedding cake.
	Label the products with the producers’ information, allergen information, and specific language informing the consumer that the food was prepared in an uninspected kitchen.

Texas continues to be one of the friendliest states for small business startups.  To start a cottage food business, there are no permits, fees, or licenses required beyond basic food handler’s certification.
We do not provide legal advice, however we highly recommend that you take the following into consideration: 

Read the rules of the cottage food law and know the rules and your rights! 

Obtain your Texas Food Handler’s Certification. Cost – around $10. 

Create your legally required food labels. 

Develop a business plan. How much does your product cost you to make, and how much will you sell it for? How long will it take to turn a profit? 

Check with the Texas Comptroller to see if your product is subject to sales tax, and if you need to obtain a Sales & Use Permit. Cost – free. 

Pick a business name and register it as a DBA with your county.  This ensures that no one else in your county can use your business name. This usually costs less than $20. 

Speak with a tax or legal professional about how to structure your business, whether it be a Sole Proprietorship, LLC, or some other entity.  Your cottage food income is subject to federal taxes the same way any other income is. 

Open a business bank account.

In addition to the marketing Kitch-In will provide, you may want to set up a web site such as Instagram or Facebook to increase your marketing. Order inexpensive startup business cards from a site like VistaPrint or Zazzle.
Start selling! Good luck with your new business!
Any questions? Email us at info@Kitch_In.io.

{% if user.is_authenticated %}
<form method = 'POST'>
{% csrf_token %}
{{ form.as_p }}
<button type='submit'>Submit</button>

</form>
<br>
<br>


<a href="{% url 'createmeal' %}">Create A Meal Now </a>
<br>

{% else %} Hello!


{% endif %}

{% endblock %} 
